html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.label-color {
    color: #007bff; /* Replace with your desired color */
}

.input-color {
    background-color: #f0f8ff; /* Replace with your desired color */
    border-color: #007bff; /* Adjust as needed */
}
/* Adding color */
.pink-text {
    color: black;
}

.pink-bg {
    background-color: pink;
}
